/* Body Colors */
$backgroundColor: #000000;
$titleColor: #ff0000;
$textColor: #ffffff;

/* Grid Colors */
$linkHoverColor: #ff0000;

/* Testimonial Colors */
$topBackgroundColor: #ffffff;
$topTextColor: #555555;
$circleBackgroundColor: #ffffff;
$bottomBackgroundColor: #686de0;
$bottomNameColor: #ffffff;
$bottomUrlColor: #b3b6eb;
$boxShadowColor: #808080;

/* Social Media Buttons Colors */
$blogButtonColor: #e17b77;
$twitterButtonColor: #00aced;
$linkedinButtonColor: #007bb6;
$facebookButtonColor: #3b5998;
$githubButtonColor: #333;
$buttonTextColor: #ffffff;

